:root {
  --cc-bg: #24283b;
  --noti-border-color: #7aa2f7;
  --noti-bg: #24283b;
  --noti-bg-darker: #1c1f2f;
  --noti-bg-hover: #24283b;
  --noti-bg-focus: #2e334f;
  --noti-close-bg: #3a3f5c;
  --noti-close-bg-hover: #454b6e;
  --text-color: #c0caf5;
  --text-color-disabled: #969696;
  --bg-selected: #7aa2f7;
  --notification-icon-size: 96px;
  --notification-group-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
}

.close-button {
  background: var(--noti-close-bg);
  color: var(--text-color);
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: var(--noti-close-bg-hover);
  transition: background 0.15s ease-in-out;
  border: none;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: var(--noti-bg-focus);
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .notification {
  border-radius: 17px;
  border: 1.5px solid var(--noti-border-color);
  padding: 0;
  transition: background 0.15s ease-in-out;
  background: var(--noti-bg);
  opacity: 1 !important;
  min-height: 36px;
  max-width: 20px; /* Decreased width */
}

.notification-row .notification-background .notification:hover {
  background: var(--noti-bg-hover);
}

.notification-row .notification-background .notification.low,
.notification-row .notification-background .notification.normal,
.notification-row .notification-background .notification.critical {
  background: var(--noti-bg);
  opacity: 1 !important;
  max-width: 300px; /* Apply to all priority levels */
}

.notification-row .notification-background .notification .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: var(--text-color);
  transition: background 0.15s ease-in-out;
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  background: var(--noti-bg-hover);
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 12px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 100px;
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px #000000;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  margin-top: 4px;
  background-color: #ffffff;
  -gtk-icon-filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: var(--noti-bg-darker);
  color: var(--text-color);
  caret-color: var(--text-color);
  border: 1px solid var(--noti-border-color);
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: var(--noti-bg);
  border: 1px solid var(--noti-border-color);
  border-radius: 12px;
  color: var(--text-color);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: var(--noti-bg-darker);
  color: var(--text-color-disabled);
  border: 1px solid var(--noti-border-color);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: var(--noti-bg-hover);
}

.notification-row .notification-background .notification .notification-alt-actions {
  background: var(--noti-bg);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
  margin: 4px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-action > button {
  border-radius: 12px;
}

.notification-group {
  transition: none;
}

.notification-group:focus {
  background: var(--noti-bg-focus);
}

.notification-group.low,
.notification-group.normal,
.notification-group.critical {
  background: var(--noti-bg);
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 0 16px;
  color: var(--text-color);
}

.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
  color: var(--text-color);
}

.notification-group.collapsed {
  opacity: 1 !important;
}

.notification-group.collapsed .notification-row .notification {
  background: var(--noti-bg);
}

.notification-group.collapsed .notification-row:not(:last-child) {
  opacity: 1 !important;
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 1 !important;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background: var(--noti-bg-hover);
}

.control-center {
  background: rgba(36, 40, 59, 0.7);
  color: var(--text-color);
  border-radius: 12px;
}

.control-center .control-center-list-placeholder {
  opacity: 1 !important;
}

.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: 0 0 0 1px #000000, 0 1px 3px 1px #000000, 0 2px 6px 2px #000000;
  max-width: 300px; /* Apply same width to notifications in control center */
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background: var(--noti-bg-hover);
}

.blank-window {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

/* Widgets */
.widget-title > label {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title > button {
  margin: 8px;
  border-radius: 12px;
}

.widget-dnd label {
  color: var(--text-color);
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd switch {
  border-radius: 12px;
  margin: 8px;
}

.widget-dnd switch slider {
  border-radius: 12px;
}

.widget-label {
  margin: 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

.widget-mpris {
  margin: 8px;
}

.widget-mpris .widget-mpris-player {
  margin: 16px 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #000000;
}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: none;
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background: var(--noti-bg);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  background: var(--noti-bg-hover);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 12px;
  box-shadow: 0px 0px 10px #000000;
  -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
  background: var(--noti-bg-hover);
}

.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-buttons-grid flowboxchild > button {
  border-radius: 12px;
}

.widget-menubar > .menu-button-bar > .start {
  margin-left: 8px;
}

.widget-menubar > .menu-button-bar > .end {
  margin-right: 8px;
}

.widget-menubar > .menu-button-bar > .widget-menubar-container button {
  border-radius: 12px;
  margin: 0 4px;
}

.widget-menubar > revealer {
  margin-top: 8px;
}

.widget-menubar > revealer button {
  border-radius: 12px;
  margin: 8px;
  margin-top: 0;
}

.widget-volume {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-volume row image {
  -gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
  background: var(--noti-bg-darker);
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 12px;
}

.widget-slider {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-slider label {
  font-size: inherit;
}

.widget-backlight {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-inhibitors > label {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  margin: 8px;
  border-radius: 12px;
}
