/* swaync colors - wallust from waybar.css */

@import '../../.config/waybar/wallust/colors-waybar.css';

@define-color noti-border-color #2c2929; 
@define-color noti-bg rgba(44, 41, 41, 0.9);
@define-color noti-bg-alt #2c2929;
@define-color noti-bg-hover @background;
@define-color text-color @foreground;

* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
}

/* Apply 0.9 opacity to notifications */
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 0.99;
    background: @noti-bg;
    border-radius: 15px;
}

.notification {
    border-radius: 10px;
    opacity: 0.99;
}

.notification-content {
    padding: 3px 10px 3px 6px;
    border-radius: 10px;
    border: 1px solid @noti-border-color;
    margin: 0px;
    opacity: 0.99;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    opacity: 0.99;
}

.notification-action {
    border: 1px solid @noti-border-color;
    border-top: none;
    border-radius: 10px;
    opacity: 0.99;
}

/* Ensure hover effects also maintain the opacity */
.notification-default-action:hover,
.notification-action:hover {
    color: @text-color;
    background: @noti-bg;
    opacity: 0.99;
}

/* Inline Reply Section */
.inline-reply-entry {
    background: @noti-bg;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 10px;
    opacity: 0.99;
}

.inline-reply-button {
    font-size: 0.5rem;
    margin-left: 4px;
    background: @noti-bg;
    border: 2px solid @noti-border-color;
    border-radius: 10px;
    color: @text-color;
    opacity: 0.99;
}

/* Control Center */
.control-center {
    background: @noti-bg;
    border: 0px solid @noti-border-color;
    color: @text-color;
    border-radius: 15px;
    opacity: 0.9;
}

/* Floating Notifications */
.floating-notifications {
    background: transparent;
    opacity: 0.9;
}
