[Desktop Entry]
Type=Application
Exec=/home/shri/scripts/autokey_lauch-kill.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=autokey
Name=autokey
Comment[en_US]=cmd to open autokey and kill afer 3 sec
Comment=cmd to open autokey and kill afer 3 sec
