/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Clipboard Config - Clipboard */

@import "~/.config/rofi/master-config.rasi"  

/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: "📋 Search ";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
/* ---- Window ---- */
window {
  width: 30%;  /* Adjust overall window width */
  height: 40%; /* Adjust height */
}


/* ---- Reduce Padding ---- */
element {
  padding: 2px; /* Remove extra spacing */
}

