[Unit]
Description=Evremap Key Remapping Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/evremap remap /home/sh/.config/evremap/evremap2.conf
Restart=always
User=root


[Install]
WantedBy=multi-user.target



